<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

<link href="https://fonts.googleapis.com/css2?family=Handjet&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Advent+Pro:wght@400;600;700&display=swap" rel="stylesheet">


  <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">

</head>
<body>

<img class= 'backgraund' src="{{ url_for('static', filename='image/Bg.png') }}" alt="image" />


<img class= 'ANGELlogo1w13' src="{{ url_for('static', filename='image/ANGELlogo1w13.svg') }}" alt="image" />



<form class="for" method="POST" action="/login">
    <h1 class="text1">Ім’я</h1>
  <input class="nams" name="username">
    <h1 class="text2">Пароль</h1>
  <input  class="pass" name="password" type="password">


  <input type="hidden" name="role" id="role-input">


  <h1 class="text3">Обери свою команду</h1>
  <!-- Кнопки выбора команды -->
  <div class="team-buttons">
    <button  class="red" type="button" onclick="selectTeam(1)"></button>
    <button class="blye" type="button" onclick="selectTeam(2)"></button>
    <button class="yeloy" type="button" onclick="selectTeam(3)"></button>
  </div>


  <button class="subm" type="submit">Підтвердити</button>
</form>




{% if error %}
  <div id="error-box">{{ error }}</div>
{% endif %}


<script>
  function selectTeam(teamNumber) {
    document.getElementById('role-input').value = teamNumber;

    // Сбросить подсветку всех кнопок
    const buttons = document.querySelectorAll('.team-buttons button');
    buttons.forEach(btn => btn.classList.remove('selected'));

    // Подсветить выбранную
    buttons[teamNumber - 1].classList.add('selected');
  }

  setTimeout(() => {
    const box = document.getElementById('error-box');
    if (box) {
      box.style.display = 'none';
    }
  }, 5000);
</script>

</body>
</html>