html, body, .backgraund {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

body, .backgraund {
  min-height: 100vh;
  font-family: 'Roboto Serif', serif;
  background: linear-gradient(
    to bottom,
    #280655,
    #411976,
    #461E7B,
    #401876,
    #350772
);
}

.header {
  position: absolute;
  height: 15px;
  width: 100%;

  top: 45px;
}

.name {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Roboto Serif', serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 15px;
  width: 236px;
  text-align: center;
  color: #FFFFFF;
  
  margin: 0;
  padding: 0;
}


.login-button {
  all: unset; /* Убирает ВСЕ стандартные стили кнопки */
  cursor: pointer;
  position: absolute;
  right: 33px;
  top: -10px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}


.logo {
  position: absolute;
   left: 10px;
  top: -20px;
  width: 78px;
  height: 54px;
}






.comand {
  position: absolute;
  bottom: 393px;
  left: 50%;
  transform: translateX(-50%);
  width: 341px;
  height: 87px;
  background-color: #EFE2FF;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.naz {
  font-family: 'Roboto Serif', serif;
  font-weight: 800;
  font-size: 32px;
  line-height: 15px;
  color: #41324F;
}
.bal {
  font-family: 'Roboto Serif', serif;
  font-weight: 600;
  font-size: 24px;
  
  color: #634E7F;
  margin-top: -5px;
}


.grafik {
  position: absolute;
  width: 341px;
  height: 225px;
  bottom: 145px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  background-color: #EFE2FF;
}

.buton {
  display: flex;
  gap: 0px; /* расстояние между кнопками */
    border-radius: 5px;

}
.bu_1 {
  all: unset; /* Убирает ВСЕ стандартные стили кнопки */
  width: 172px;
  height: 60px;
  background: radial-gradient(circle, #896AB4 0%, #684794 80%);
  border-top-left-radius: 5px;

}
.bu_2 {
  all: unset; /* Убирает ВСЕ стандартные стили кнопки */
  width: 172px;
  height: 60px;
  background: radial-gradient(circle, #C1B0D7 0%, #C0A2E8 80%);
  border-top-right-radius: 5px;
  padding: 0px;
}





.grafick {
  display: flex;
  flex-direction: column; /* Добавь это — важное! */

  width: 341px;
  height: 165px;

  overflow-y: auto;
  padding-right: 10px;
  text-align: center;
}

.gra_tex {
  font-family: 'Roboto Serif', serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 15px;
  color: #41324F;
  height: 27px;
  margin-left: 10px;
  transform: translateY(45%);

  text-align: center; /* Центрирует текст по горизонтали */

}
.gra_tex_1, .gra_tex_2 {
  font-family: 'Roboto Serif', serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 15px;
  color: #ffffff;
  height: 27px;
  width: 148px;
  margin-left: 50%;
transform: translate(-25%, 30%);
}

.gra_tex_2 {
  transform: translate(-40%, 40%);
  color: #41324F;
  font-size: 20px;
}





.stih {
  position: absolute;
  width: 366px;
  height: 87px;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 30px;
  background-color: #EFE2FF;
}.stih_text {
  font-family: 'Advent Pro', sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 15px;
  color: #2F1670;
  height: 44px;
  width: 329px;
text-align: center;

transform: translate(5%, 0%);
}



.gra_tex_2_admin {
  font-family: 'Roboto Serif', serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 15px;
  color: #41324F;
  height: 27px;
  width: 148px;
  margin-top: 7px;
  margin-left: 50%;
  transform: translate(-25%, 30%);


}