<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Аngel Cump</title>

<link href="https://fonts.googleapis.com/css2?family=Handjet&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Advent+Pro:wght@400;600;700&display=swap" rel="stylesheet">


  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>

<img class= 'backgraund' src="{{ url_for('static', filename='image/Group1.png') }}" alt="image" />


    <div class="header">
      <h1 class="name">{{ username }}</h1>
<a href="{{ url_for('login') }}" class="login-button">
  <img class="login-img" src="{{ url_for('static', filename='image/login1.png') }}" alt="image" />
</a>

      <img class= 'logo' src="{{ url_for('static', filename='image/ANGELlogo1w13.png') }}" alt="image" />
    </div>


<div class="comand">
  <h1 class="naz">{{ team_data[role]['name'] }}</h1>
  <h1 class="bal">«секрет»</h1>
</div>






<div class="grafik">

  <div class="buton">
    <button class="bu_1">      
      <h1 class="gra_tex_1">Графік</h1>
    </button>


  {% if is_admin %}
    <a href="{{ url_for('admin_panel') }}" class="bu_2">
      <h1 class="gra_tex_2 gra_tex_2_admin">Адмін панель</h1>
    </a>
  {% else %}

    <a href="{{ url_for('koleso') }}" class="bu_2">
      <h1 class="gra_tex_2">Рандомайзер</h1>
    </a>
    {% endif %}

  </div>

  <div class="grafick">
    <div>
      <h1 class="gra_tex">10.00 - зустріч</h1>
      <img class= 'line' src="{{ url_for('static', filename='image/line1.png') }}" alt="image" />
    </div>
        <div>
      <h1 class="gra_tex">10.15 - молитва в Скинії</h1>
      <img class= 'line' src="{{ url_for('static', filename='image/line1.png') }}" alt="image" />
    </div>
        <div>
      <h1 class="gra_tex">10.20 - зарядка</h1>
      <img class= 'line' src="{{ url_for('static', filename='image/line1.png') }}" alt="image" />
    </div>
        <div>
      <h1 class="gra_tex">10.50 - Скинія</h1>
      <img class= 'line' src="{{ url_for('static', filename='image/line1.png') }}" alt="image" />
    </div>
        <div>
      <h1 class="gra_tex">11.30 - ланч</h1>
      <img class= 'line' src="{{ url_for('static', filename='image/line1.png') }}" alt="image" />
    </div>
        <div>
      <h1 class="gra_tex">11.45 - біблійний час</h1>
      <img class= 'line' src="{{ url_for('static', filename='image/line1.png') }}" alt="image" />
    </div>
              <div>
      <h1 class="gra_tex">12.15 - загальнотабірна гра</h1>
      <img class= 'line' src="{{ url_for('static', filename='image/line1.png') }}" alt="image" />
    </div>
              <div>
      <h1 class="gra_tex">13.15 - обід </h1>
      <img class= 'line' src="{{ url_for('static', filename='image/line1.png') }}" alt="image" />
    </div>
              <div>
      <h1 class="gra_tex">13.30 - віл.час/JUST DANCE</h1>
      <img class= 'line' src="{{ url_for('static', filename='image/line1.png') }}" alt="image" />
    </div>
              <div>
      <h1 class="gra_tex">13.45 - гуртки </h1>
      <img class= 'line' src="{{ url_for('static', filename='image/line1.png') }}" alt="image" />
    </div>
              <div>
      <h1 class="gra_tex">14.45 - підготовка до Скинії</h1>
      <img class= 'line' src="{{ url_for('static', filename='image/line1.png') }}" alt="image" />
    </div>
              <div>
      <h1 class="gra_tex">15.00 - Скинія</h1>
      <img class= 'line' src="{{ url_for('static', filename='image/line1.png') }}" alt="image" />
    </div>
              <div>
      <h1 class="gra_tex">15.45 - рекорди</h1>
      <img class= 'line' src="{{ url_for('static', filename='image/line1.png') }}" alt="image" />
    </div>
                        <div>
      <h1 class="gra_tex">16.00 - додому</h1>
      <img class= 'line' src="{{ url_for('static', filename='image/line1.png') }}" alt="image" />
    </div>
  </div>

</div>
    

<div class="stih">
  <h1 class="stih_text">Так бо Бог полюбив світ, що дав Сина Свого Однородженого, щоб кожен, хто вірує в Нього, не згинув, але мав життя вічне. <br> Вiд Iвана 3:16</h1>
</div>



</body>

</html>
